{% extends 'base.html' %}

{% block content %}
	<div class="forms center" id="login-form">
		<legend >Welcome to the Inventory Management Software</legend>
		<form action="/login" method="post">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-3">Login</legend>
				<div class="form-group mb-2">
				{{ form.username.label(class="form-control-label") }}
				
				{% if form.username.errors %}
					{{ form.username(class="form-control is-invalid") }}
					<div class="invalid-feedback">
					{% for error in form.username.errors %}
						<span>{{ error }} </span>
					{% endfor %}
					</div>
				{% else %}
					{{ form.username(class="form-control") }}
				{% endif %}
				</div>

				<div class="form-group mb-2">
				{{ form.password.label(class="form-control-label") }}
				
				{% if form.password.errors %}
					{{ form.password(class="form-control is-invalid") }}
					<div class="invalid-feedback">
					{% for error in form.password.errors %}
						<span>{{ error }} </span>
					{% endfor %}
					</div>
				{% else %}
					{{ form.password(class="form-control") }}
				{% endif %}
				</div>
			</fieldset>
			<div class="form-group mt-2">
			  {{ form.submit(class="form-control btn btn-light") }}
			</div>
		</form>
	</div>
{% endblock %}
