{% extends 'base.html' %}

{% block content %}
<table class="table table-striped table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Code</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stocks %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ stock[1] }}</td>
          <td>{{ stock[2] }}</td>
          <td>{{ stock[3] }}</td>
          <td><a class="btn btn-outline-dark btn-sm" href ="/view-stock-detail/{{ stock[0] }}">Detail</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}