{% extends 'base.html' %}

{% block content %}
<div class="head-text">Product Stock Detail</div>

<table class="table table-striped table-bordered table-hover table-sm" id="view-stock-table">
    <thead>
      <tr>
        <td colspan=4><b>Product Code = {{ details[0][0] }}</b></td>
      </tr>
      <tr>
        <td colspan=4><b>Product Name = {{ details[0][1] }}</b></td>
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Batch Code</th>
        <th scope="col">Batch Date</th>
        <th scope="col" width="25%">Stock Balance</th>
      </tr>
    </thead>
    <tbody>
      {% for deatil in details %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ deatil[2] }}</td>
          <td>{{ deatil[3] }}</td>
          <td>{{ deatil[4] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}