{% extends 'base.html' %}

{% block content %}
<div class="head-text">View Batch</div>

<table class="table table-striped table-bordered table-hover table-sm" id="view-stock-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Batch Code</th>
        <th scope="col">Batch Date</th>
        <th scope="col">Stock In Out</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for batch in batches %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ batch[1] }}</td>
          <td>{{ batch[2] }}</td>
          <td>{{ batch[3] }}</td>
          <td><a class="btn btn-outline-dark btn-sm" href ="/view-batch-detail/{{ batch[0] }}">Detail</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}